.background {
  position: relative;
  height: 100vh;

  background-image: url('./buffalo.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s all ease-in-out;

  opacity: 0;
  height: 100vh;

  .text-and-button {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    h1,
    h2 {
      color: white;
    }

    .btn {
      margin: 0 auto;
      width: 100%;
    }
  }

  .hero-image {
    border-radius: 50%;
    min-width: 100px;
    max-width: 600px;
    min-height: 100px;
    max-height: 600px;
    object-fit: contain;
    margin: 20px;
    border: 3px solid white;
  }
}

.hero.active {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column;

    .text-and-button {
      text-align: center;
    }
  }
}
