.project {
  #img {
    margin: auto 0;
  }

  #header {
    color: rgb(247, 238, 238);
  }

  #desc {
    color: rgb(247, 238, 238);
    letter-spacing: 1px;
  }

  #link {
    color: rgb(93, 130, 243);
    width: auto;
    margin-right: 20px;
  }

  .links {
    display: flex;
    width: 100%;
  }

  #link:hover {
    color: rgb(150, 173, 241);
  }
}

@media (max-width: 770px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    #header {
      margin-top: 10px;
    }

    .links {
      display: block;
    }
  }

  // .project {
  //   display: block;
  // }
}
