.project {
  #img {
    margin: auto 0;
  }

  #header {
    color: rgb(247, 238, 238);
  }

  #desc {
    color: rgb(247, 238, 238);
    letter-spacing: 1px;
  }

  #link {
    color: royalblue;
  }

  #link:hover {
    color: rgb(150, 173, 241);
  }
}
